body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar todo el contenido verticalmente */
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;

}
h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    justify-content: center;
}

label {
    display: block;
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center;
}

 

button:hover {
    background-color: #0056b3;
}

 

 

 
.mt-4 {
    margin-top: 1.5rem;
}

.table-responsive {
    overflow-x: auto;
}

th, td {
    text-align: center;
}